.searchBar > form > input {
	grid-column: 1/7;
	height: 80px;
	border: none;
	background: transparent;
	color: white;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	padding-top: 15px;
	margin: 0 40px 0 15px;
	font-size: 1.5em;
	font-family: 'Poppins';
	font-weight: 200;
}

.searchBar > form > input::placeholder { 
	color: rgba(255, 255, 255, 0.5);
}

.searchBar > form > input:focus {
	outline: none;
}

.searchBar > form > button {
	grid-column: 7/9;
	background: orange;
    border: none;
}

.searchBar > form > button:focus {
	outline: none;
}