.mobileHero__content {
	padding-top: 50px;
	grid-column: 2/8;
}

.mobileHero__content > h1 {
	font-size: 4em;
	color: white;
	font-weight: 300;
	grid-column: 1/5;
}

.mobileHero__locTime {
	grid-column: 5/9;
	
}

.mobileHero__locTime > h1 {
	color: white;
	font-weight: 300;
	font-size: 2.5em;
}

.mobileHero__locTime > p {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.8em;
}