.spacer {
    height: 75vh;
}

.heroDisplay__content {
    color: white;
    align-self: baseline
}

.heroDisplay__content > h1 {
    grid-column: 2/4;
    font-size: 4.5em;
    font-weight: 300;
}

.heroDisplay__locTime {
    grid-column: 4/8;
    padding-left: 10px;
    align-self: center;
}

.heroDisplay__locTime > h1 {
    font-weight: 200;
    font-size: 3em;
}